<% posts.each do |post| %>
  <div class="row border rounded p-3 my-3">
    <div class="col-3">
      <%= image_tag post.get_tmdb_data[:image_url], class: "card-img" %>
    </div>

    <!--<div class="col-1"></div>-->

    <div class="col-9">
      <div class="row">
        <P class="font-weight-bold"><%= post.get_tmdb_data[:title] %></P>
      </div>

      <div class="row">
        <div class="col-2">
          <%= link_to user_post_list_path(post.user.id) do %>
            <%= image_tag post.user.get_image(70, 70), class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="col">
          <p><%= post.user.name %></p>
          <p><%= "投稿日　" + post.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6">
          <label>total　</label>
          <span class="total-rate" data-score="<%= post.total_rate %>"></span>
        </div>
        <div class="col-md-12 col-lg-6">
          <label>story　</label>
          <span class="story-rate" data-score="<%= post.story_rate %>"></span>
        </div>
        <div class="col-md-12 col-lg-6">
          <label>fear　</label>
          <span class="fear-rate" data-score="<%= post.fear_rate %>"></span>
        </div>
        <div class="col-md-12 col-lg-6">
          <label>splatter </label>
          <span class="splatter-rate" data-score="<%= post.splatter_rate %>"></span>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-6">
          <%= link_to "レビューを見る", post_path(post), class: "btn btn-sm btn-secondary w-75" %>
        </div>

        <% if post.is_spoiler == true %>
          <div class="col">
            <p><i class="fas fa-exclamation-triangle text-warning"></i> ネタバレを含みます！</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/read_only_raty" %>
