<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="row">
        <h4 class="py-4">新規レビュー一覧</h4>
      </div>

      <% @posts.each do |post| %>
        <div class="row border border-secondary rounded p-2 mb-2">
          <div class="col-3">
            <%= image_tag post.get_tmdb_data[:image_url], class: "card-img" %>
          </div>

          <div class="col-9">
            <div class="row">
              <P class="font-weight-bold"><%= post.get_tmdb_data[:title] %></P>
            </div>

            <div class="row">
              <div class="col-4 col-md-3 col-lg-2">
                <%= image_tag post.user.get_image(70, 70), class: "rounded-circle card-img" %>
              </div>

              <div class="col">
                <p>
                  <%= post.user.name %><br>
                  <%= "投稿日　" + post.created_at.strftime('%Y/%m/%d') %><br>
                  <%= "コメント　" + post.comments.count.to_s + "件" %>
                </p>
              </div>
            </div>

            <div class="row border-top border-secondary pt-2">
              <p>
                <%= post.review.truncate(100, omission: "．．．．．") %>
              </p>
            </div>

            <div class="row pt-4">
              <div class="col-11 col-lg-6">
                <%= link_to "詳細", admin_post_path(post.id), class: "btn btn-sm btn-secondary w-75" %>
              </div>

              <% if post.is_spoiler == true %>
                <div class="col">
                  <p><i class="fas fa-exclamation-triangle text-warning"></i> ネタバレを含みます！</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="mx-auto">
          <p><%= paginate @posts %></p>
        </div>
      </div>
    </div>
  </div>
</div>