<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="row">
        <h4 class="py-4">レビュー詳細</h4>
      </div>

      <div class="row border border-secondary rounded p-3">
        <div class="col-3">
          <%= image_tag @post.get_tmdb_data[:image_url], class: "card-img" %>
        </div>

        <div class="col-9">
          <div class="row border-bottom border-secondary">
            <p class="font-weight-bold"><%= @post.get_tmdb_data[:title] %></p>
          </div>

          <div class="row border-bottom border-secondary py-2">
            <div class="col-3 col-sm-3 col-md-2 col-lg-2">
              <%= link_to admin_user_path(@post.user.id) do %>
                <%= image_tag @post.user.get_image(100, 100), class: "rounded-circle card-img" %>
              <% end %>
            </div>

            <div class="col">
              <P><%= @post.user.name %></P>
              <P><%= "投稿日　" + @post.created_at.strftime('%Y/%m/%d') %></P>
            </div>
          </div>

          <div class="row border-bottom border-secondary py-1">
            <p><%= @post.review %></P>
          </div>

          <div class="row py-1">
            <p>タグ：
              <% if @post.tags != nil %>
                <% @post.tags.each do |tag| %>
                  <span class="pr-3"><i class="fas fa-tag pr-1"></i><%= tag.name %></span>
                <% end %>
              <% end %>
            </p>
          </div>

          <div class="text-center">
            <%= link_to "削除", admin_post_path(@post.id), method: :delete,
            data: { confirm: '本当に削除してもよろしいですか？' }, class: "btn btn-sm btn-outline-danger w-50" %>
          </div>
        </div>
      </div>

      <div class="row">
        <h4 class="py-4">コメント（<%= @post.comments.count %>件）</h4>
      </div>

      <% @post.comments.each do |comment| %>
        <div class="row border border-secondary rounded mb-2 py-2">
          <div class="col-3">
            <%= link_to admin_user_path(comment.user.id) do %>
              <%= image_tag comment.user.get_image(70, 70), class: "rounded-circle" %>
            <% end %>
          </div>

          <div class="col-9">
            <p>
              <%= comment.user.name %><br>
              <%= comment.created_at.strftime('%Y/%m/%d') %><br>
              <%= comment.comment %>
            </p>

            <div class="text-center">
              <%= link_to "削除", admin_comment_path(comment.id), method: :delete,
                data: { confirm: '本当に削除してもよろしいですか？' }, class: "btn btn-sm btn-outline-danger w-50" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

