<div class="row border border-secondary rounded">
  <div class="col-6 col-md-3 my-3">
    <% if tv['poster_path'].present? %>
      <%= image_tag "https://image.tmdb.org/t/p/w342" + tv['poster_path'] , class: "card-img" %>
    <% end %>
  </div>

  <div class="col-md-8 my-3">
    <p class="font-weight-bold"><%= tv['name'] %></p>

    <% if tv['original_language'] != "ja" %>
      <p><%= tv['original_name'] %></p>
    <% end %>

    <p><%= tv['first_air_date'] + "～" + tv['last_air_date'] %></p>
    <p>あらすじ</p>
    <p><%= tv['overview'] %></p>

    <% if user_signed_in? %>
      <p class="text-center">
        <%= link_to "レビューする", new_post_path(category: "tv", tmdb_no: tv['id']), class: "btn btn-sm btn-secondary w-25" %>
      </p>
    <% end %>
  </div>
</div>