<div class="row">
  <h5><%= content %>の検索結果（<%= tvs.results.count %>件）</h5>
</div>
<% if tvs.present? %>
  <% i = 0 %>
  <% while i < tvs.results.count %>
    <div class="row border rounded my-3">
      <div class="col-md-4">
        <% if tvs.results[i]['poster_path'].present? %>
          <%= image_tag "https://image.tmdb.org/t/p/w342" + tvs.results[i]['poster_path'], class: "card-img" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <p class="font-weight-bold"><%= tvs.results[i]['name'] %></p>
        <P><%= tvs.results[i]['first_air_date'] %></P>
        <P>あらすじ</p>
        <p><%= tvs.results[i]['overview'] %></p>
        <%= link_to "詳細", search_detail_path(category: "tv", tmdb_no: tvs.results[i]['id']), class: "btn btn-sm btn-outline-secondary w-25" %>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
<% else %>
  <P>見つかりませんでした。</P>
<% end %>