<div class="container">
  <div class="row">
    <h4 class="col-8 mx-auto">マイページ</h4>
  </div>

  <div class="row">
    <div class="col-md-5 text-right">
      <%= image_tag @user.get_image(200, 200), class: "rounded-circle" %>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-5">
      <div class="row">
        ニックネーム<br>
       <%= @user.name %>
      </div>
      <div class="row">
        プロフィール<br>
        <%= @user.introduction %>
      </div>
      <div class="row">
        <%= link_to "編集する", edit_users_path, class: "btn btn-sm btn-secondary" %>
      </div>
    </div>
  </div>

  <div class="row">
    <h5 class="col-8 mx-auto">投稿一覧</h5>
  </div>

  <%= render "public/posts/posts_index", posts: @posts %>

</div>
