<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <% if admin_signed_in? %>
      <%= link_to "Horrers", admin_root_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "Horrers", root_path, class: "navbar-brand" %>
    <% end %>

    <% if user_signed_in? %>
      <span class="navbar-text">ようこそ<%= current_user.name %>さん</span>
    <% elsif admin_signed_in? %>
      <span class="navbar-text">管理者：<%= current_admin.name %></span>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", my_page_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link' %></li>
          <li><%= link_to "コメント一覧", admin_comments_path, class: 'nav-link' %></li>
          <li><%= link_to "タグ一覧", admin_tags_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to "About", about_path, class: 'nav-link' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>