<% unless admin_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto text-center">
        <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag 'content', "", :required => true %>
          <span class="ml-3">
            <%= radio_button_tag("category", "movie", checked=true) %>
            <%= label_tag("category_movie", "映画") %>
          </span>
          <span class="ml-3">
            <%= radio_button_tag("category", "tv") %>
            <%= label_tag("category_tv", "ドラマ") %>
          </span>
          <span class="mx-3">
            <%= radio_button_tag("category", "tag") %>
            <%= label_tag("category_tag", "タグ") %>
          </span>
          <%= submit_tag("検索") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>