<!DOCTYPE html>
<html>
  <head>
    <title>Horrers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100" style="background-color: #262626;">


    <main class="text-light pb-5 mb-auto">

      <%= render 'layouts/header' %>
      <%= render 'layouts/search' %>
      <%= render 'layouts/notice' %>

      <%= yield %>

    </main>

    <%= render 'layouts/footer' %>

    <p class="pagetop">
      <a href="#wrap">
        <i class="fa fa-arrow-circle-up"></i>
      </a>
    </p>

    <script>
      $(document).ready(function() {
        var pagetop = $('.pagetop');
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              pagetop.fadeIn();
            } else {
              pagetop.fadeOut();
              }
            });
            pagetop.click(function () {
              $('body, html').animate({ scrollTop: 0 }, 500);
                return false;
          });
      });
    </script>


  </body>
</html>
